<h1>Getting information from josn file</h1>
<div>
    <button type="button" (click)="clear(); showConfig()">get</button>
    <button type="button" (click)="clear(); showConfigResponse()">getResponse</button>
    <button type="button" (click)="clear()">clear</button>
    <button type="button" (click)="clear(); makeError()">error</button>
    <span *ngIf="config">
      <p>Person API URL is "{{config.personUrl}}"</p>
      <p>Textfile URL is "{{config.textfile}}"</p>
      <p>Date is "{{config.date}}" ({{getType(config.date)}})</p>
      <div *ngIf="headers">
        Response headers:
        <ul>
          <li *ngFor="let header of headers">{{header}}</li>
        </ul>
      </div>
    </span>
  </div>
  <p *ngIf="error" class="error">{{error|json}}</p>
