:host{
    font-style: italic;
    text-align: center;
    background-color: crimson;
    
}
:host(.active){
    font-weight: bold;
}
/* :host h2{
    background-color: tomato;
} */
:host-context(.active){
    font-style: bold;
}
:host::ng-deep h2{
font-size: small;
}
