<h1 style="color:GREEN;">Http-Get-Method-Example</h1>
<p>Contacts Details</p>

FIRST-NAME<ul>
            <li *ngFor="let contact of contactList">{{contact.FirstName}}</li>
          </ul>
lAST-NAME<ul>
           <li *ngFor="let contact of contactList">{{contact.LastName}}</li>
        </ul>
Email    <ul>
           <li *ngFor="let contact of contactList">{{contact.Email}}</li>   
        </ul> <br><br>

<div *ngIf="msgTrue">contacts CREATED SUCCESSFULLY</div><br><hr>

<button (click)="addNewContact()">add new contact</button><br>
<button (click)="updateContact(2)">update contact  2</button><BR>
<button (click)="deleteContact(3)">delete contact 3</button><BR>
<button (click)="getContact()">get contact</button>

 