<nav>
  <ul class="navigation">
    <li></li>
   <li> <a  routerLink="hello-world" >hello-world link</a><br></li>
    <li><a routerLink="hello-world-ng-if">hello world ng if </a><br></li>
    <li><a  routerLink="pipes">pipes concept</a><br></li>
    <li><a routerLink="../ad">ad</a>ad</li>
    <li><a routerLink="hero-profile">hero-profile</a></li>
    <li><a routerLink="ad-banner">ad banner</a></li>
    <li><a routerLink="hero-job-ad">hero job ad</a></li>
    <li><a routerLink="form">form-example</a></li>
    <li><a routerLink="Styling">styling -examples</a></li>
    <li><a routerLink="custom-pipes">custom-pipe</a></li>
    <li><a routerLink="product">Product</a></li>
    <li><a routerLink="async-promise-pipe">AsyncPromisePipe</a></li>
    <li><a routerLink="basic-check">BasicCheck</a></li>
    <li><a routerLink="on-changes-parent">OnChangeParent-cycle</a></li>

  </ul>
</nav>
<div> <app-ad-banner [ads]="ads"></app-ad-banner></div>

<router-outlet></router-outlet>

<app-on-changes [hero]="hero"></app-on-changes>

<app-parent-to-child [message]="parentMessage" (childMessage)="cMessage=$event"></app-parent-to-child>

<div>
  <h4>child sending :{{cMessage}}</h4>
</div>
<br>


<div style="text-align: center;">
  <p  appHighlight>HIGHLIGHT ME !</p>
  <p [appHighlight]="color" defaultColor=""violet>HIGHLIGHT ON ME TOO</p>
  <P appHighlight="red">Highlight in red</P>
  <h2>ngNonBindanle</h2>
  <p> use ngNonBindable to stop evaluation</p>
  <p ngNonBindable [appHighlight]="'yellow'">this should not evaluate : {{ 1+1 }} but will highlight in yellow color</p>
</div>
<app-employee-list [name]="name"></app-employee-list>
<app-employee-list [name]="name2"></app-employee-list>
<!-- <p>
  Start editing to see some magic happen :)
</p> -->
<button (click)="toggleName()">Toggle name</button>



