<nav>
  <ul class="navigation">
    
    <li><a routerLink="basics">Basics Component1</a></li>
    <li><a routerLink="../ad">ad - Component2</a>ad</li>
    <li><a routerLink="second-basics">Pipes-Async-CONCEPT-Component4</a></li>
    <li><a routerLink="life-cycles">Life-Cycle-Hooks-Component5</a></li>
    <li><a routerLink="dependency">Dependency-Example-component6</a></li>
    <li><a routerLink="heroes-tsp">FactoryPattern</a></li>
    <li><a routerLink="orders">orders</a></li>
    <li><a routerLink="parent-form">forms-component3</a></li>
    <li><a routerLink="parent7">parent7</a></li>

    
  </ul>
</nav>
<div> <app-ad-banner [ads]="ads"></app-ad-banner></div>

<router-outlet></router-outlet><br>



<!-- 
<div style="text-align: center;">
  <p  appHighlight>HIGHLIGHT ME !</p>
  <p [appHighlight]="color" defaultColor=""violet>HIGHLIGHT ON ME TOO</p>
  <P appHighlight="red">Highlight in red</P>
  <h2>ngNonBindanle</h2>
  <p> use ngNonBindable to stop evaluation</p>
  <p ngNonBindable [appHighlight]="'yellow'">this should not evaluate : {{ 1+1 }} but will highlight in yellow color</p>
</div> -->

<!-- <p>
  Start editing to see some magic happen :)
</p> -->
<!-- <button (click)="toggleName()">Toggle name</button> -->



