<div style="text-align:center">
    <h1>
        Hello {{title}}
    </h1>
    <img width="{{image_width}}" (click)="displayAlert()"  alt="pic logo" src="../assets/photos/Browniebear.jpeg">
</div>
<div style="color:red" *ngIf="isAdmin()">Hi Habibunnisha</div>
<div style="color: aqua;" *ngIf="!isAdmin()">hi</div>
<div>
<ul>
    <li *ngFor="let item of items be">{{item.name}} age is {{item.age}}</li>
</ul>

<ul>
    <ng-container *ngFor="let item of items be">
        <li *ngIf="item.age >21">{{item.name}} age is {{item.age}}</li>
    </ng-container>
</ul>
<button type="button"
[disabled]="canClick"
(click)="sayMessage()">
Trigger alert message showing
</button>

<p [style.color]="fontColor">YOU CAN SET MY COLOR IN THE COMPONENET</p>

<p>My color is {{fontColor}}</p>




