<div style="text-align:center">
    <h1>
        🌼️ Hello {{title}}🌼️
    </h1>
    <img width="{{image_width}}" (click)="displayAlert()"  alt="pic logo" src="../assets/photos/Browniebear.jpeg">
</div>
<div style="color:red" *ngIf="isAdmin()">Hi Habibunnisha</div>
<div style="color: aqua;" *ngIf="!isAdmin()">hi</div>
<div>

<button type="button"
[disabled]="canClick"
(click)="sayMessage()">
Trigger alert message showing
</button>

<p [style.color]="fontColor">YOU CAN SET MY COLOR IN THE COMPONENET</p>

<p>My color is {{fontColor}}</p><hr>

<app-parent-to-child [message]="parentMessage" (childMessage)="cMessage=$event"></app-parent-to-child>
<div>
    <h4>child sending :{{cMessage}}</h4>
  </div>
  <br>



